[submodule "libjpeg"]
	path = submodules/libjpeg
	url = https://github.com/wxWidgets/libjpeg-turbo.git
	branch = wx
	ignore = all
[submodule "submodules/wxWEBPHandler"]
	path = submodules/wxWEBPHandler
	url = https://github.com/hoehermann/wxWEBPHandler.git
